APScheduler==3.5.3
arrow==0.8.0
bleach==1.4.3
blinker==1.4
boto3==1.3.0
botocore==1.4.93
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
docutils==0.14
Flask==1.0.2
Flask-Dance==1.2.0
flask-mongoengine==0.9.5
Flask-Script==2.0.5
Flask-Uploads==0.2.1
Flask-WTF==0.14.2
html5lib==0.9999999
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.9.3
lazy==1.3
MarkupSafe==1.1.0
mongoengine==0.16.3
oauthlib==2.1.0
py-bcrypt==0.4
pycparser==2.19
pymongo==3.7.2
python-dateutil==2.7.5
pytz==2018.9
regex==2019.1.23
requests==2.21.0
requests-oauthlib==1.0.0
six==1.11.0
tzlocal==1.5.1
urllib3==1.24.1
URLObject==2.4.3
Wand==0.4.4
Werkzeug==0.14.1
WTForms==2.2.1
