{% extends "base_wt_bgimg2.html" %}
{% block title %}Welcome{% endblock %}

{% block content %}


<div class="row justify-content-center">
  <div class="vertical-center">
    <div class="col-auto">
      <h5>ตั้ง username ของคุณ</h5>
      <p class="thaisa">  ชื่อนี้จะเป็นชื่อที่ร้านจะใช้เรียกคุณ(เหมือนร้านกาแฟที่จะเรียกชื่อคุณเวลากาแฟที่คุณสั่งได้แล้ว)<br>เพราะฉนั้น คิดดีๆก่อนจะตั้งชื่อ GuInwza009</p>
        <div class="card p-2 border-light" style="box-shadow: 0 10px 10px rgba(0,0,0,.05);">


                    <form method="POST" action="{{ url_for('user_app.set_username')}}" role="form">
                          <div class="form-row align-items-center">

                              {{ form.hidden_tag() }}
                              <div class="col-auto">
                                {{ form.username.label(class="form-label") }}
                              </div>
                              <div class="col-auto">
                                {{ form.username(class='form-control') }}
                              </div>
                              <div class="col-auto my-1">
                                  <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                              </div>

                          </div>
                    </form>

              </div>

        </div>
    </div>
</div>
{% endblock %}
